<div
  class="w-full h-dvh flex justify-center items-center bg-light-grayish-cyan"
>
  <div class="w-[70%] md:w-[40%]  h-[40%] flex flex-col justify-center items-center bg-white gap-y-4">
    <h1 class="text-center">Restablecer contraseña</h1>
    <input
      type="password"
      class="bg-light-grayish-cyan md:w-96 lg:w-80 2xl:w-lg p-3 rounded-2xl outline-none inset-shadow-sm text-maastricht-Blue font-medium"
      [(ngModel)]="newPassword"
      placeholder="Nueva contraseña"
    />
    <input
      type="password"
      class="bg-light-grayish-cyan md:w-96 lg:w-80 2xl:w-lg p-3 rounded-2xl outline-none inset-shadow-sm text-maastricht-Blue font-medium"
      [(ngModel)]="confirmPassword"
      placeholder="Confirmar contraseña"
    />
    <button
      class="w-32 md:w-44 2xl:w-sm h-12 bg-maastricht-Blue text-white border-button transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
      (click)="resetPassword()"
    >
      Restablecer
    </button>
  </div>
</div>
