<!-- Contenedor principal -->
<div class="full-screen-container">
  <!-- Contenedor secundario -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card custom-card">
          <div class="card-body card-main">
            <div class="row">
              <!-- Columna del formulario -->
              <div class="col-md-4 form-container">
                <!-- Contenedor del formulario -->
                <form class="custom-form">
                  <!-- Contenedor para la imagen -->
                  <div class="text-center mb-4 image-container-logo">
                    <img
                      src=""
                      alt="Image"
                      class="img-fluid custom-image"
                      style="max-width: 100px"
                    />
                  </div>
                  <!-- Campo de Documento-->
                  <div class="form-group mb-4 email-container">
                    <input
                      type="text"
                      class="form-control custom-input"
                      id="Document"
                      placeholder="Document"
                    />
                  </div>
                  <!-- Botón de inicio de sesión -->
                  <button type="submit" class="btn btn-dark mb-4 custom-button">
                    Ingresar
                  </button>
                </form>
              </div>
              <!-- Columna de la imagen grande -->
              <div
                class="col-md-8 d-flex align-items-center justify-content-center large-image-container"
              >
                <img src="" alt="Image" class="img-fluid large-image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
