<div
  class="w-full h-screen bg-light-grayish-cyan flex items-center justify-center"
>
  <div
    class="w-full max-lg:h-auto p-4 h-2/3 rounded-2xl bg-white flex flex-col justify-center mx-5 shadow-login"
  >
    <div
      class="w-full flex items-center justify-center max-h-[-webkit-fill-available]"
    >
      <div class="w-2/3 flex flex-col items-center">
        <div class="font-leckerli-one text-6xl mb-5 pt-2">vaku</div>
        <form
          class="w-full flex flex-col justify-center items-center font-poppins"
          (ngSubmit)="
            logeearse(credenciales.persEmail, credenciales.persPassword)
          "
        >
          <div class="mb-3">
            <input
              type="email"
              class="bg-light-grayish-cyan md:w-96 lg:w-80 2xl:w-lg p-3 rounded-2xl outline-none inset-shadow-sm text-maastricht-Blue font-medium"
              id="email"
              name="email"
              placeholder="CORREO"
              [(ngModel)]="credenciales.persEmail"
              required
            />
          </div>
          <div>
            <input
              type="password"
              class="bg-light-grayish-cyan md:w-96 lg:w-80 2xl:w-lg p-3 rounded-2xl outline-none inset-shadow-sm text-maastricht-Blue font-medium"
              id="password"
              name="password"
              placeholder="CONTRASEÑA"
              [(ngModel)]="credenciales.persPassword"
              required
            />
          </div>
          <button
            type="submit"
            class="w-32 md:w-44 2xl:w-sm h-12 mt-5 bg-maastricht-Blue text-white border-button transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
          >
            Iniciar sesión
          </button>
        </form>
        <!-- inicio de sesión con Google, Facebook y GitHub -->
        <div class="w-full flex items-center mt-6 justify-center">
          <app-auth-google></app-auth-google>
          <app-auth-github></app-auth-github>
          <app-auth-facebook></app-auth-facebook>
        </div>
        <button
          type="button"
          class="mt-3 text-sm text-maastricht-Blue underline hover:text-blue-600"
          (click)="resetearContrasena(credenciales.persEmail)"
        >
          ¿Olvidaste tu contraseña?
        </button>
      </div>

      <div class="w-full flex justify-center items-center p-4 max-lg:hidden">
        <img
          src="assets/img/Layer.webp"
          class="lg:w-[55%] 2xl:w-[40%] z-10 absolute"
          alt="Imagen de login"
        />
        <img
          src="assets/img/8817508.webp"
          class="2xl:w-[50%] relative z-20"
          alt="Imagen de login"
        />
      </div>
    </div>
  </div>
</div>
